name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Test8
      id: test8
      uses: classroom-resources/autograding-io-grader@v1
      with:
        test-name: Test8
        setup-command: "/bin/sh ./test8.sh"
        command: cat ./Test/output.txt
        input: ''
        expected-output: |-
          -------------------------------------------------------------
          Knight, Armor, Boots, Sword | Attack: 100 | Speed: 50 | Defense: 110
          Knight, Armor, Bow | Attack: 95 | Speed: 35 | Defense: 110
          Knight, Boots, Staff | Attack: 90 | Speed: 55 | Defense: 80
          -------------------------------------------------------------
          Wizard, Armor, Boots, Sword | Attack: 80 | Speed: 60 | Defense: 60
          Wizard, Armor, Bow | Attack: 75 | Speed: 45 | Defense: 60
          Wizard, Boots, Staff | Attack: 70 | Speed: 65 | Defense: 30
          -------------------------------------------------------------
          Archer, Armor, Boots, Sword | Attack: 90 | Speed: 80 | Defense: 70
          Archer, Armor, Bow | Attack: 85 | Speed: 65 | Defense: 70
          Archer, Boots, Staff | Attack: 80 | Speed: 85 | Defense: 40
          -------------------------------------------------------------
        comparison-method: contains
        timeout: 10
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        TEST8_RESULTS: "${{steps.test8.outputs.result}}"
      with:
        runners: test8
